swagger: "2.0"
info:
  description: "This is Kidzoo Inventory Service"
  version: "1.0.0"
  title: "Swagger Kidzoo Inventory Service"
  contact:
    email: "invetoryteam@kidzoo.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "inventory.kidzoo.com"
basePath: "/v2"
tags:
- name: "inventory"
  description: "Stock Level of Toys"
schemes:
- "https"
- "http"
paths:
  /inventory/{toyId}:
    get:
      tags:
      - "inventory"
      summary: "Find toy inventory by ID"
      description: "Returns a single toy inventory by Id"
      operationId: "getInventoryById"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "toyId"
        in: "path"
        description: "ID of toy to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Inventory"
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Toy not found"
  /inventory/findByStatus:
    get:
      tags:
      - "inventory"
      summary: "Finds toys by status"
      description: "Multiple status values can be provided with comma separated strings"
      operationId: "findInventoryByStatus"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "status"
        in: "query"
        description: "Status values that need to be considered for filter"
        required: true
        type: "array"
        items:
          type: "string"
          enum:
          - "available"
          - "backorder"
          - "outofstock"
          default: "available"
        collectionFormat: "multi"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Inventory"
        "400":
          description: "Invalid status value"
definitions:
  Inventory:
    type: "object"
    required:
    - "id"
    - "status"
    properties:
      id:
        type: "integer"
        format: "int64"
      status:
        type: "string"
        description: "toy stock status"
        enum:
        - "available"
        - "backorder"
        - "outofstock"
    xml:
      name: "Inventory"